﻿@model ParaApp.Models.MarkersAndTemp

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table>
    <tr>

        <th>
            Place
        </th>
        <th>
            Location
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Markers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vicinity)
            </td>

            <td>
                @Html.ActionLink("Add", "Add", null, null, null, null, new { lat = item.Latitude, lon = item.Longitude, method = "car" }, null)
            </td>
        </tr>
    }
    @if (@Model.Temporary != null)
    {
        @Model.Temporary.Coordinates
        @Model.Temporary.UserName
        @Model.Temporary.Method
    }
</table>
