﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ParaApp.Models.ItemsAndQuery
 
<h2>Search for Places!</h2>
<div id="map" style="width: 100%; height: 400px; background: grey" />
<script type="text/javascript" charset="UTF-8">
function addMarkerToGroup(coordinate, html) {
  var marker = new H.map.Marker(coordinate);
  // add custom data to the marker
  marker.setData(html);
  group.addObject(marker);
}

function soloMarker(coordinates, html) {
  // Removes all group markers
  group.removeAll();
  $.each(ui.getBubbles(), function (idx, bubble) {
    bubble.close();
  });


  // Adds marker
  addMarkerToGroup(coordinates, html);

  // Sets center of map and zoom
  map.setZoom(15, true)
  map.setCenter(coordinates, true)
}

function addInfoBubble() {
  map.addObject(group);

  // add 'tap' event listener, that opens info bubble, to the group
  group.addEventListener('tap', function (evt) {
    // event target is the marker itself, group is a parent event target
    // for all objects that it contains
    var bubble =  new H.ui.InfoBubble(evt.target.getPosition(), {
      // read custom data
      content: evt.target.getData()
    });
    // show info bubble
    ui.addBubble(bubble);
  }, false);

  /*
  addMarkerToGroup({ lat: 53.439, lng: -2.221 },
    '<div><a href=\'http://www.mcfc.co.uk\' >Manchester City</a>' +
    '</div><div >City of Manchester Stadium<br>Capacity: 48,000</div>');

  addMarkerToGroup({lat:53.430, lng:-2.961},
    '<div ><a href=\'http://www.liverpoolfc.tv\' >Liverpool</a>' +
    '</div><div >Anfield<br>Capacity: 45,362</div>');
    */
}

/**
 * Boilerplate map initialization code starts below:
 */

// initialize communication with the platform
var platform = new H.service.Platform({
  app_id: 'DemoAppId01082013GAL',
    app_code: 'AJKnXv84fjrb0KIHawS0Tg',
    useCIT: true
});
var defaultLayers = platform.createDefaultLayers();

// initialize a map - this map is centered over Europe
var map = new H.Map(document.getElementById('map'),
  defaultLayers.normal.map, {
  center: { lat: 14.5538, lng: 121.01975 },
  zoom: 15
});

var group = new H.map.Group();

// MapEvents enables the event system
// Behavior implements default interactions for pan/zoom (also on mobile touch environments)
var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

// create default UI with layers provided by the platform
var ui = H.ui.UI.createDefault(map, defaultLayers);

// Now use the map as required...
addInfoBubble();

var bubble;
function openBubble(position, text) {
    if (!bubble) {
        bubble = new H.ui.InfoBubble(
          position,
          // The FO property holds the province name.
          { content: text });
        ui.addBubble(bubble);
    } else {
        bubble.setPosition(position);
        bubble.setContent(text);
        bubble.open();
    }
}


function addRouteShapeToMap(route) {
    var strip = new H.geo.Strip(),
      routeShape = route.shape,
      polyline;

    routeShape.forEach(function (point) {
        var parts = point.split(',');
        strip.pushLatLngAlt(parts[0], parts[1]);
    });

    polyline = new H.map.Polyline(strip, {
        style: {
            lineWidth: 4,
            strokeColor: 'rgba(0, 128, 255, 0.7)'
        }
    });
    // Add the polyline to the map
    map.addObject(polyline);
    // And zoom to its bounding rectangle
    map.setViewBounds(polyline.getBounds(), true);
}

function addManueversToMap(route) {
    var svgMarkup = '<svg width="18" height="18" ' +
      'xmlns="http://www.w3.org/2000/svg">' +
      '<circle cx="8" cy="8" r="8" ' +
        'fill="#1b468d" stroke="white" stroke-width="1"  />' +
      '</svg>',
      dotIcon = new H.map.Icon(svgMarkup, { anchor: { x: 8, y: 8 } }),
      group = new H.map.Group(),
      i,
      j;

    // Add a marker for each maneuver
    for (i = 0; i < route.leg.length; i += 1) {
        for (j = 0; j < route.leg[i].maneuver.length; j += 1) {
            // Get the next maneuver.
            maneuver = route.leg[i].maneuver[j];
            // Add a marker to the maneuvers group
            var marker = new H.map.Marker({
                lat: maneuver.position.latitude,
                lng: maneuver.position.longitude
            },
              { icon: dotIcon });
            marker.instruction = maneuver.instruction;
            group.addObject(marker);
        }
    }

    group.addEventListener('tap', function (evt) {
        map.setCenter(evt.target.getPosition());
        openBubble(
           evt.target.getPosition(), evt.target.instruction);
    }, false);

    // Add the maneuvers group to the map
    map.addObject(group);
}

// Now use the map as required...
// Test
from = '14.55133,121.02703';
to = '14.5538,121.01975';
mode = 'car';
//calculateRouteFromAtoB(mode, from, to);


function calculateRouteFromAtoB(mode, aCoordStr, bCoordStr) {
    var router = platform.getRoutingService(),
      routeRequestParams = {
          mode: getModeString(mode),
          representation: 'display',
          waypoint0: aCoordStr, // test
          waypoint1: bCoordStr  // test
      };

    router.calculateRoute(
      routeRequestParams,
      onSuccess,
      onError
    );
}

function getModeString(mode) {
    return ('fastest;' + mode);
}

function onSuccess(result) {
    var route = result.response.route[0];
    /*
     * The styling of the route response on the map is entirely under the developer's control.
     * A representitive styling can be found the full JS + HTML code of this example
     * in the functions below:
     */
    addRouteShapeToMap(route);
    addManueversToMap(route);
    // ... etc.
}

function onError(error) {
    alert('Ooops!');
}


$(function () {
  $('.pin-btn').click(function (e) {
    $btn = $(e.currentTarget);
    title = $btn.closest('.item').find('.title').text();
    lat = parseFloat($btn.data('lat'));
    lng = parseFloat($btn.data('lng'));
    coordinates = { lat: lat, lng: lng };
    soloMarker(coordinates, title);

  });
})
</script>
<table>
    <tr>
        <th>
            Search for Places Near You!
        </th>
        <th>

        </th>
    </tr>
    <tr>
        Nearby @Model.PlaceQuery.Query.ToString()
    </tr>
    <tr>
        @{
            Html.RenderPartial("Search",Model.PlaceQuery);
            
            
            }

    </tr>
    @foreach (var item in Model.ItemList)
    {
        <tr class="item">
            <td class="title">@item.title</td>
            <td class="vicinity">@item.vicinity.Replace("<br/>","") (@item.distance km)</td>
            <td><input type="button" class="pin-btn" value="Pin Me!" data-lat="@item.position[0]" data-lng="@item.position[1]"/></td>
            <td>
                @Html.ActionLink("Add to My Places", "AddMarker", "Places",null,null,null, new { lat = @item.position[0], lon = @item.position[1], vicinity = @item.vicinity.Replace("<br/>", ""),title = @item.title},null)
            </td>
</tr>
    }

</table>


