﻿@model ParaApp.Models.UserProfile

@using (Html.BeginForm("ProfileChange", "Account", FormMethod.Post, new { id = "changePasswordForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.EditorFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Location)
               @Html.EditorFor(m => m.Location)
            </li>
            <li>
                @Html.LabelFor(m => m.AboutMe)
                @Html.EditorFor(m => m.AboutMe)
            </li>
        </ol>
        <input type="submit" value="Update Profile" />
    </fieldset>
}