﻿@model ParaApp.Models.LoginModel

@using (Html.BeginForm("JsonLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginForm" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.TextBoxFor(m => m.UserName, new {  id = "loginName", @class = "form-control input-lg", placeholder = "Username" })
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
            <li>
                <input type="submit" class="btn btn-primary btn-success btn-lg btn-block"  value="Log in" />
            </li>
        </ol>
        @Html.ValidationSummary() 
    </fieldset>
}