﻿@model ParaApp.Models.Places


<table>
    <tr>
        <th>
            Search for places to add
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.results.items) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.chaosGibbonField)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
