﻿@model ParaApp.Models.LoginModel
@{
    ViewBag.Title = "ParaApp";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}

<header>
    <h1>@ViewBag.Title</h1>
</header>

<div id="main-content">
    @if (@User.Identity.IsAuthenticated)
    {
        <p class="error" data-bind="text: error"></p>
        <div id="map" style="width: 100%; height: 400px; background: grey" />
        <script type="text/javascript" charset="UTF-8">


            function moveMapToBerlin(map) {
                map.setCenter({ lat: 14.5500, lng: 121.0333 });
                map.setZoom(14);
            }



            var platform = new H.service.Platform({
                app_id: 'DemoAppId01082013GAL',
                app_code: 'AJKnXv84fjrb0KIHawS0Tg',
                useCIT: true
            });
            var defaultLayers = platform.createDefaultLayers();

            //Step 2: initialize a map  - not specificing a location will give a whole world view.
            var map = new H.Map(document.getElementById('map'),
              defaultLayers.normal.map);
            var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

            // Create the default UI components
            var ui = H.ui.UI.createDefault(map, defaultLayers);

            // Now use the map as required...
            moveMapToBerlin(map);
        </script>

        <input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />
        <div>
            @*@{ Html.RenderAction("Places");
            }*@
            @{
        Html.RenderAction("TopItineraries");
            }
        </div>
        @*<button data-bind="click: addTodoList">Add Todo list</button>

            <section id="lists" data-bind="foreach: todoLists, visible: todoLists().length > 0">
                <article class="todoList">
                    <header>
                        <form data-bind="validate: true">
                            <input class="required" data-bind="value: title, selected: isEditingListTitle, blurOnEnter: true" />
                        </form>
                    </header>

                    <a href="#" class="deletelist" data-bind="click: $parent.deleteTodoList">X</a>

                    <ul data-bind="foreach: todos">
                        <li>
                            <input type="checkbox" data-bind="checked: isDone" />
                            <input class="todoItemInput" type="text" data-bind="value: title, disable: isDone, blurOnEnter: true" />
                            <a href="#" data-bind="click: $parent.deleteTodo">X</a>
                            <p class="error" data-bind="visible: errorMessage, text: errorMessage"></p>
                        </li>
                    </ul>

                    <form data-bind="submit: addTodo">
                        <input class="addTodo" type="text" data-bind="value: newTodoTitle, placeholder: 'Type here to add', blurOnEnter: true, event: { blur: addTodo }" />
                    </form>

                    <p class="error" data-bind="visible: errorMessage, text: errorMessage"></p>
                </article>
            </section>*@
    }
    else
    {
        @*<div class="todoList" id="loginPanel">*@
        <section id="localLoginPanel">
            <h2>Log in</h2>
            @Html.Partial("_Login")
        </section>
        <section id="socialLoginPanel">
            <h2>Log in using another service</h2>
            @Html.Action("ExternalLoginsList", "Account", new { ReturnUrl = ViewBag.ReturnUrl })
        </section>
        <p>First time here? <a id="showRegister">Sign up</a></p>
        @*</div>*@
        @*<div class="todoList" id="registerPanel">*@
        <h2>Sign up</h2>
        @Html.Partial("_Register")
        <p>Already signed up? <a id="showLogin">Log in</a></p>
        @*</div>*@
    }
</div>

@if (@User.Identity.IsAuthenticated)
{
    @section scripts {
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/todo")
        @Scripts.Render("~/bundles/paraapp")
    }
}