﻿@model IEnumerable<ParaApp.Models.ItineraryList>


<table>
    <tr>
        <th>Top Itineraries Today</th>
    </tr>

@foreach (var item in Model.OrderByDescending(itin => itin.Likes))
{
    <tr class ="item">
        <td class="title">
            Name: @item.Name
        </td>
        <td class="vicinity">
            Likes: @item.Likes
        </td>
        <td class ="lat">
            Number of locations: @item.Venues
        </td>
        <td class="lng">
            Estimated time: @item.RouteTime.Hour
        </td>
    </tr>
}

</table>
